*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #121214;
    font-family: 'Mulish';
    padding: 72px 104px;
    justify-content: center;
}

h1{
    color:#02799D;
    font-family: Mulish;
    font-size: 58.287px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-left: 7rem;
}

p{
    color: #E1E1E6;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 7rem;
}

/*Aplicando o grid*/
main{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 48px 60px;
    place-content: center;
}

.card{
    background: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
}

.card img {
    max-width: 100%; /* Definindo a largura máxima da imagem como 100% */
    max-height: 100%; /* Definindo a altura máxima da imagem como 100% */
    object-fit: contain; /* Fazendo a imagem se ajustar à caixa sem distorção */
}

.card h2{
    color: #E1E1E6;
    font-weight: 900;
    font-size: 35px;
    padding: 24px 32px 0;
}

.card p{
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
}
